body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  margin: 0%;
  padding: 0;
  text-decoration: none;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.landing-bg {
  height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
  /* background-image: url(/svg/landing-svg.svg); */
  background-image: url(../svg/landing-svg.svg);
  background-position: bottom;
  background-size: 700px;
  background-attachment:fixed;
  background-repeat: repeat-x;
}


#landing-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -70%);
  max-width: 350px;
  align-items: center;
}

#landing-cta {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  max-width: 350px;
  align-items: center;
}