
.section-modal {
  position: fixed;
  z-index: 100 !important;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.15);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: url(./svg/modal-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.modal { 
  position: relative;
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
  /* top: 50%;
  transform: translateY(-50%); */
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #043866;
  border-radius: 10px;
  align-items: center;
  width: 380px;
  height: fit-content;
  padding: 50px 40px 200px 40px;
  filter: drop-shadow(6px 4px 15px rgba(0,0,0,0.3));
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

#closebtn {
  position: absolute;
  display: flex;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}

#closebtn:hover {
  transform: scale(1.1);
}

.closebtn {
  position: absolute;
  display: flex;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}

.closebtn:hover {
  transform: scale(1.1);
}

.step-h1 {
  margin-bottom: 20px;
  font-family: "Hynings Handwriting V2";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #1471d0;
}

.modal-content p {
  margin-bottom: 15px;
}

.modal-svg {
  display: block;
  margin: auto;
  /* height: fit-content; */
  /* width: fit-content; */
}


/* about modal */

#modal-about {
  /* display: none; */
  margin: auto;
}

#modal-pole {
  height: 20%;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* escape modal */

.escape-body .modal-svg {
  height: 260px;
  position: absolute;
  top: auto;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
